@import '../../assets/css/theme.scss';

.login-container {
  margin: 50px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: inline-block;
  width: 296px;
  padding: 88px;
  border-radius: 16px;
  box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  z-index: 1;

  > div {
    position: relative;
    margin-bottom: 32px;

    &:first-child {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
      font-size: 11pt;
      text-align: center;
    }

    .check-mark {
      position: absolute;
      color: #55C883;
      top: 50%;
      margin-top: -14px;
      margin-left: 12px;
    }

    .login-button {
      border-radius: 25px;
      height: 40px;
    }

    .linkedin-button {
      border: 0;
      border-radius: 4px;
      background-color: #007bb5;
      text-transform: none;
      height: 40px;
      width: calc(50% - 12px);
      margin-right: 12px;
      color: white;
      line-height: 24px;
    }
    .google-button {
      border: 1px solid black !important;
      border-radius: 4px;
      text-transform: none;
      color: black;
      background: white;
      height: 40px;
      width: calc(50% - 12px);
      margin-left: 12px;
      line-height: 24px;
    }
  }
}
